<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/rovio_uzhfpv.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/uzhfpv_cam0.yaml"/>
  <!-- <param name="camera1_config" value="$(find rovio)/cfg/uzhfpv_cam1.yaml"/> -->
  <param name="rosbag_filename" value="/home/yingfu/datasets/UZH-FPV/bags/indoor_45_2_snapdragon_with_gt.bag"/>
  <param name="imu_topic_name" value="/snappy_imu"/>
  <param name="cam0_topic_name" value="/snappy_cam/stereo_l"/>
  <!-- <param name="cam1_topic_name" value="/snappy_cam/stereo_r"/> -->
  </node>
</launch>

<!-- _with_gt -->

<!-- rovio_rosbag_loader -->

<!-- rovio_uzhfpv -->

<!-- rovio_node -->

<!-- rosbag play indoor_45_2_snapdragon_with_gt.bag /snappy_cam/stereo_l:=/cam0/image_raw /snappy_imu:=/imu0 -->

<!-- rosbag play -s 14.0 indoor_45_2_snapdragon_with_gt.bag /snappy_cam/stereo_l:=/cam0/image_raw /snappy_imu:=/imu0 -->

<!-- rosbag play -s 17.5 indoor_45_9_snapdragon_with_gt.bag /snappy_cam/stereo_l:=/cam0/image_raw /snappy_imu:=/imu0 -->